<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>wjchoi's blog</title>
  </head>
  <body>
    <div class="">
      <h1>
        <a href="#">Django wjchoi Blog</a>
      </h1>
    </div>
    <div class="">
      <p>published: 2019.06.04, 16:35</p>
      <h2>
        <a href="#">My first post</a>
      </h2>
      <p>Aenean eu leo quam. Nice to meet you.</p>
    </div>
    <div class="">
      <p>published: 2019.06.04, 16:37</p>
      <h2>
        <a href="#">My second post</a>
      </h2>
      <p>Ensol Bio Sciences. Homosapiens</p>
    </div>
  </body>
</html>
